/*  Using universal selector to avoid white space top edge and left edge  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*  I don't see any difference if I don't hide the overflow  */

/* 
  In this scenario you won't see a difference. You will only see a difference if
  the content inside of the body exceeds the width or height of the window. In this
  case the content is only a couple of numbers, therefore there is no overflow to hide.
*/
body {
  height: 100vh;
  background: url(./Bioluminescent\ Swells\ -\ Bommarito\ Art.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* I don't know why we need the transform - translate when we are setting top and left to 50% */

/*
  The reason that you need transform - translate is because left: 50% will bring the left edge
  of the clock to the center of the screen. You don't want that. Instead, what you want is to
  bring the CENTER of the clock (not the left edge) to the center of the screen. The transform
  translate is what does that part for you.
*/
.clock {
  width: 800px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 0 0 6px #000;
  color: #fff;
  letter-spacing: 20px;
  user-select: none;
  font-size: 9rem;
}
